*{
    background: black;
    color: white;
}
.top-container{
    max-width: 100%;
    margin: 0;
    padding-top: 40px; padding-bottom: 5px;
    padding-left:10px;padding-right: 10px;
}
.top-container ul{
    white-space:nowrap;
    overflow-x: auto;
    text-align:center;
    padding: 0;
    margin-bottom: 0;
}
.top-container ul li{
    display:inline-block;
    padding: 5px;
}
.weather-movie{
    text-align: center;
}
.circle{
    width: 120px;
    height: 120px;
    margin: auto; padding: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #0073E6;
    background: #efa2a9;
}
.container ul{
    white-space:nowrap;
    overflow-x: auto;
    text-align:center;
    padding: 0;
}

.container ul li{
    display:inline-block;
    padding: 0;
}
.copyright{
    text-align: center;
}
